<h2>User Info</h2>
<%= image_tag book.user.get_profile_image(100,100) %>
<table class="table">
 <tbody>
  <tr>
   <th>name</th>
   <th><%= book.user.name %></th>
  </tr>
  <tr>
   <th>introduction</th>
   <th><%= book.user.introduction %></th>
  </tr>
 </tbody>
</table>
<div class="row">
 <%= link_to "編集", root_path, class: "btn btn-outline-secondary btn-block" %>
</div>